/* ===== Animations ====*/

//============== Animation Like ============
@keyframes like_anim {
  0% {
    background: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(200deg, #9256dc2a 34%, #ff79da2a 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(200deg, #9356dc5d 34%, #ff79da5d 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(200deg, #9356dc9a 34%, #ff79da9a 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(200deg, #9356dcbb 34%, #ff79dabb 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(200deg, #9356dc 34%, #ff79da 100%);
    color: transparent;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

// Loader

header span {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2e2e2e50;
    z-index: 9;
    animation: disparition 2s linear forwards;
  }
  &::after {
    content: "";
    position: fixed;
    top: 50%;
    z-index: 100;
    width: 48px;
    height: 48px;
    border: 3px solid transparent;
    border-top-color: map-get($color-palette, primaire);
    border-bottom-color: map-get($color-palette, secondaire);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: tourne 2s linear forwards;
  }
}

// Rotation

@keyframes tourne {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  90% {
    transform: rotate(720deg);
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

// Apparition

@for $i from 1 to 11 {
  .c_#{$i} {
    animation: $i * 0.5s normal apparition;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Disparition

@keyframes disparition {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
