/* ===== Animations ====*/

//============== Animation Like ============
@keyframes like_anim {
  0% {
    background: linear-gradient(#9356dc17, #ff79d917);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  25% {
    background: linear-gradient(#9356dc41, #ff79da41);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(#9256dc8c, #ff79da8c);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  75% {
    background: linear-gradient(#9356dcc0, #ff79d9c0);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(#9356dc, #ff79da);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
}

// Loader

header span {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2e2e2e50;
    z-index: 9;
    animation: test 2s linear forwards;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 48px;
    height: 48px;
    border: 3px solid transparent;
    border-top-color: map-get($color-palette, primaire);
    border-bottom-color: map-get($color-palette, secondaire);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: tourne 2s linear forwards;
  }
}

@keyframes tourne {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  90% {
    transform: rotate(720deg);
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes test {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

// Apparition

@for $i from 1 to 11 {
  .c_#{$i} {
    animation: $i * 0.5s normal apparition;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
