* {
  font-family: "Roboto", sans-serif;
  color: map-get($color-palette, default-1);
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: map-get($color-palette, bg-color);
  max-width: 1920px;
  min-width: 300px;
}

//=========== Header =========
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //== Logo ==
  .logo {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
    @include ombretitre;
    h1 {
      @include titre;
      &:hover {
        transform: scale(1.05);
      }
    }
    a {
      position: absolute;
      left: 20px;
    }
    .fa-solid {
      font-size: map-get($font-size, medium);
    }
  }
  //== Localisation ==
  .localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: map-get($color-palette, dark-grey);
    padding: 10px 0;
    .fa-solid {
      padding: 0 10px;
    }
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 2.5s;
    span {
      position: absolute;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      animation: spin 2s;
    }
  }
}

//=========== Footer =========

footer {
  background: #353535;
  width: 100%;
  nav {
    padding: 20px 15px;
    a {
      display: flex;
      p,
      .fa-solid {
        color: map-get($color-palette, default-2);
        font-size: map-get($font-size, small);
        margin: 3px 3px;
        transition: color 0.3s ease-in-out;
      }
      &:hover p:not(.titre_footer),
      &:hover .fa-solid {
        color: map-get($color-palette, tertiaire);
      }
      .titre_footer {
        font-family: "Shrikhand", cursive;
        font-size: map-get($font-size, medium);
        margin-bottom: 15px;
      }
    }
  }
}

@media (767px <= width) {
  header {
    position: sticky;
    top: 0;
    background-color: white;
  }
}
