// flex

@mixin flex_centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

//titre
@mixin titre {
  font-size: map-get($font-size, title);
  font-weight: map-get($font-weight, normal);
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
}

// ombre
@mixin ombretitre {
  box-shadow: 0px 1px 5px #4a4a4a99;
}

@mixin ombremain {
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
}

@mixin ombre_hover {
  box-shadow: 0px 1px 6px rgba(70, 70, 70, 0.6);
}

//Bouton
@mixin bouton {
  background: linear-gradient(
    170deg,
    map-get($color-palette, secondaire) 0%,
    map-get($color-palette, primaire) 100%
  );
  color: map-get($color-palette, default-2);
  font-weight: map-get($font-weight, large);
  border-radius: 50px;
  padding: 15px 20px;
  z-index: 1;
  @include ombremain;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: linear-gradient(
      170deg,
      map-get($color-palette, hover_secondaire) 0%,
      map-get($color-palette, hover_primaire) 100%
    );
    @include ombre_hover;
  }
}

@mixin btn_like {
  .like {
    position: absolute;
    @include flex_centre;
    cursor: pointer;
    input {
      display: none;
      &:checked ~ {
        .fa-solid {
          display: block;
          color: transparent;
          animation: like_anim 0.8s ease-in-out forwards;
        }
        .fa-regular {
          display: none;
        }
      }
    }
    .fa-regular,
    .fa-solid {
      font-size: 1.7rem;
    }
    .fa-solid {
      display: none;
    }
  }
}

@mixin new {
  .new {
    display: block;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 550;
    color: #139273;
    background-color: #99e2d0;
    padding: 4px 10px;
    top: 10px;
    right: 5px;
    border-radius: 2px;
  }
}

// Containeurs

@mixin small-containeur {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: map-get($color-palette, dark-grey);
  border-radius: 15px;
  margin: 30px 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  @include ombremain;
  &:hover {
    background-color: #b256dc42;
    box-shadow: 0px 3px 12px 3px#5e2e7442;
  }
  &:hover .fa-solid {
    color: map-get($color-palette, primaire);
  }
}

@mixin containeur-resto {
  position: relative;
  // ------- grid -------
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 0.7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // --------------------
  width: 100%;
  height: 200px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  @include ombremain;
  &:hover {
    @include ombre_hover;
    transform: scale(1.01);
  }
}

@mixin containeur-plat {
  position: relative;
  //-------- flex -------
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  //---------------------
  background-color: map-get($color-palette, default-2);
  border-radius: 15px;
  margin: 10px 0;
  @include ombremain;
}

// Loader

header span {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e50;
    z-index: 9;
    animation: disparition 2s linear forwards;
  }
  &::after {
    content: "";
    position: fixed;
    top: 50%;
    z-index: 100;
    width: 68px;
    height: 68px;
    border: 3px solid transparent;
    border-top-color: map-get($color-palette, primaire);
    border-bottom-color: map-get($color-palette, secondaire);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: tourne 2s linear forwards;
  }
}
