@import "variables.scss";

//titre
@mixin titre {
  font-size: map-get($font-size, title);
  font-weight: map-get($font-weight, normal);
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
}

// ombre
@mixin ombretitre {
  box-shadow: 0px 1px 5px #4a4a4a99;
}

@mixin ombremain {
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
}

//Bouton
@mixin bouton {
  background: linear-gradient(
    170deg,
    map-get($color-palette, secondaire) 0%,
    map-get($color-palette, primaire) 100%
  );
  color: map-get($color-palette, default-2);
  font-weight: map-get($font-weight, large);
  border-radius: 50px;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: linear-gradient(
      170deg,
      map-get($color-palette, tertiaire) 0%,
      map-get($color-palette, primaire) 100%
    );
    transform: scale(1.05);
  }
}

@mixin btn_like {
  .like {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      display: none;
      &:checked ~ {
        .fa-solid {
          display: block;
          animation: like_anim 0.3s;
          background: linear-gradient(#ff79da, #9356dc);
          color: transparent;
          background-size: 400%;
          -webkit-background-clip: text;
        }
        .fa-regular {
          display: none;
        }
      }
    }
    .fa-regular,
    .fa-solid {
      font-size: 1.7rem;
    }
    .fa-solid {
      display: none;
    }
  }
}

// Containeurs

@mixin small-containeur {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: map-get($color-palette, dark-grey);
  border-radius: 15px;
  margin: 30px 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  @include ombremain;
  &:hover {
    background-color: #f5edff;
    transform: scale(1.02);
  }
  &:hover .fa-solid {
    color: map-get($color-palette, primaire);
  }
}

@mixin containeur-1 {
  // ------- grid -------
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  grid-template-rows: 2fr 0.7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // --------------------
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  @include ombremain;
}
