@import "variables.scss";
@import "mixins.scss";
@import "animation.scss";

/*====== FLECHE RETOUR =====*/
header .logo a {
  display: none;
}

@import "header-footer.scss";

/*============= Body ==============*/

main {
  /*============ En-Tête =========*/
  .entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: map-get($color-palette, light-grey);
    h2 {
      margin: 30px 0px 15px 0px;
      font-size: map-get($font-size, large);
    }
    p {
      font-size: map-get($font-size, small);
      color: #4d4d4d;
      margin: 0 10px;
    }
    a {
      @include bouton;
      margin: 50px 0px;
    }
  }
  /*============ Fonctionnement =========*/
  .fontionnement {
    margin: 20px;
    h2 {
      font-size: map-get($font-size, large);
      margin: 30px 0;
    }
    .small-containeur {
      @include small-containeur;
      p {
        font-size: map-get($font-size, small);
        font-weight: map-get($font-weight, large);
      }
      .fa-solid {
        margin-right: 15px;
        transition: all 0.3s ease-in-out;
      }
      span {
        position: absolute;
        left: -10px;
        padding: 2px 6px;
        border-radius: 50px;
        font-size: map-get($font-size, small);
        color: map-get($color-palette, default-2);
        background-color: map-get($color-palette, primaire);
      }
    }
  }
  /*============ Restaurants =========*/
  .restaurants {
    padding: 20px 20px;
    background-color: map-get($color-palette, light-grey);
    h2 {
      font-size: map-get($font-size, large);
      margin: 30px 0;
    }
    .containeur-1 {
      @include containeur-resto;
      margin: 20px 0;
      background-color: map-get($color-palette, default-2);
      border-radius: 10px;
      img {
        grid-area: 1 / 1 / 2 / 4;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .text {
        margin: 20px 15px;
        grid-area: 2 / 1 / 3 / 2;
        h3 {
          font-size: map-get($font-size, small);
          font-weight: map-get($font-weight, large);
        }
        p {
          font-size: map-get($font-size, small);
          font-weight: map-get($font-weight, light);
        }
      }
      @include btn_like;
      span {
        display: none;
      }
      @include new;
    }
  }
}

/* ====================== Media Queries ====================*/

@media (767px <= width) {
  /*============= Body ==============*/

  main {
    /*============ En-Tête =========*/
    .entete {
      height: 250px;
      h2 {
        margin: 30px 0px 15px 0px;
        font-size: map-get($font-size, large);
      }
      p {
        font-size: map-get($font-size, small);
        color: #4d4d4d;
        margin: 0 10px;
      }
      a {
        @include bouton;
        margin: 50px 0px;
      }
    }
    /*============ Fonctionnement =========*/
    .fontionnement {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin: 10px;
      h2 {
        margin: 10px 0;
        width: 100%;
      }
      .small-containeur {
        @include small-containeur;
        width: 25%;
      }
    }
    /*============ Restaurants =========*/
    .restaurants {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      h2 {
        width: 100%;
        margin: 10px 0;
      }
      .containeur-1 {
        width: 300px;
        img {
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
}
