@import "variables.scss";
@import "mixins.scss";
@import "animation.scss";
@import "header-footer.scss";

// ================= Header ==============
header {
  .localisation {
    display: none;
  }
}

//=================== Main ==================

.entete_1 {
  height: 220px;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: 0;
    z-index: -5;
  }
}

.v2 img {
  object-position: 0 -80px;
}

main {
  padding: 30px 20px 10px 20px;
  margin-top: -50px;
  border-radius: 50px 50px 0px 0px;
  background-color: map-get($color-palette, light-grey);
  overflow: hidden;
  z-index: 1;
  @include btn_like;
  .titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      @include titre;
      margin: 10px 0;
    }
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: map-get($font-weight, light);
    font-size: map-get($font-size, medium);
    position: relative;
    margin: 20px 0;
    &::before {
      position: absolute;
      content: "";
      background-color: map-get($color-palette, tertiaire);
      width: 45px;
      height: 3px;
      bottom: -6px;
    }
  }

  section label {
    @include containeur-plat;
    .check {
      position: absolute;
      @include flex_centre;
      top: 0;
      right: -40px;
      width: 50px;
      height: 60px;
      border-radius: 0 10px 10px 0;
      background-color: rgb(154, 224, 195);
      font-size: map-get($font-size, medium);
      opacity: 0;
      margin: 0;
      transition: all 0.5s ease;
      .fa-solid {
        color: map-get($color-palette, default-2);
        transition: all 1s ease;
      }
    }
    input {
      display: none;
      &:checked ~ {
        .check {
          position: relative;
          opacity: 1;
          right: 0;
          .fa-solid {
            rotate: (360deg);
          }
        }
      }
    }
    .text {
      width: 60%;
      height: 40px;
      margin: 10px 10px;
      p {
        // pour les 3 doth si le text est trop long
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    span {
      font-weight: map-get($font-weight, large);
      margin: 10px 10px;
    }
  }
}

main .commander {
  @include flex_centre;
  margin: 60px 0 80px 0;
  button {
    @include bouton;
    @include ombremain;
    border: none;
    cursor: pointer;
    padding: 15px 50px;
    p {
      color: map-get($color-palette, default-2);
      font-weight: map-get($font-weight, normal);
      font-size: map-get($font-size, medium);
    }
  }
}

/* ====================== Media Queries ====================*/

@media (767px < width) {
  .entete_1 {
    height: 500px;
    img {
      object-position: 0 -300px;
    }
  }
  main {
    .titre {
      justify-content: flex-start;
      label {
        margin-left: 20px;
      }
    }
    .menu {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 400px;
      h3 {
        width: 32%;
      }
      section {
        width: 32%;
        height: 80%;
        margin: 0;
      }
    }
    .commander {
      margin: 20px;
    }
  }
}
