//============== Variables =============

// Police d'ecriture
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Shrikhand&display=swap");

$font-size: (
  title: 1.7rem,
  large: 1.4rem,
  medium: 1.1rem,
  small: 0.9rem,
);

$font-weight: (
  large: 800,
  normal: 500,
  light: 300,
);

// Couleurs
$color-palette: (
  primaire: #9356dc,
  secondaire: #ff79da,
  tertiaire: #99e2d0,
  bg-color: #fefefe,
  light-grey: #f3f3f3,
  dark-grey: #e2e2e2,
  default-1: #000,
  default-2: #fff,
);

// Paddings et Margins
