@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");

header span::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.3137254902);
  z-index: 9;
  animation: disparition 2s linear forwards;
}

header span::after {
  content: "";
  position: fixed;
  top: 50%;
  z-index: 100;
  width: 68px;
  height: 68px;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: tourne 2s linear forwards;
}

/* ===== Animations ====*/
@keyframes like_anim {
  0% {
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
  }

  20% {
    background: linear-gradient(200deg, rgba(146, 86, 220, 0.1647058824) 34%, rgba(255, 121, 218, 0.1647058824) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  40% {
    background: linear-gradient(200deg, rgba(147, 86, 220, 0.3647058824) 34%, rgba(255, 121, 218, 0.3647058824) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  60% {
    background: linear-gradient(200deg, rgba(147, 86, 220, 0.6039215686) 34%, rgba(255, 121, 218, 0.6039215686) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  80% {
    background: linear-gradient(200deg, rgba(147, 86, 220, 0.7333333333) 34%, rgba(255, 121, 218, 0.7333333333) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(200deg, #9356dc 34%, #ff79da 100%);
    color: transparent;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes tourne {
  0% {
    transform: rotate(0);
    opacity: 1;
  }

  90% {
    transform: rotate(720deg);
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    z-index: -10;
  }
}

.c_1 {
  animation: 0.5s normal apparition;
}

.c_2 {
  animation: 1s normal apparition;
}

.c_3 {
  animation: 1.5s normal apparition;
}

.c_4 {
  animation: 2s normal apparition;
}

.c_5 {
  animation: 2.5s normal apparition;
}

.c_6 {
  animation: 3s normal apparition;
}

.c_7 {
  animation: 3.5s normal apparition;
}

.c_8 {
  animation: 4s normal apparition;
}

.c_9 {
  animation: 4.5s normal apparition;
}

.c_10 {
  animation: 5s normal apparition;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
    z-index: 9;
  }

  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*====== FLECHE RETOUR & LOADER =====*/
header .logo a {
  display: none;
}

header .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2.5s;
}

header .loader span {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  animation: spin 2s;
}

* {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  max-width: 1920px;
  min-width: 280px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .logo {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0px 1px 5px rgba(74, 74, 74, 0.6);
}

header .logo h1 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
}

header .logo h1:hover {
  transform: scale(1.05);
}

header .logo a {
  position: absolute;
  left: 20px;
}

header .logo .fa-solid {
  font-size: 1.1rem;
}

header .localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 0;
}

header .localisation .fa-solid {
  padding: 0 10px;
}

footer {
  background: #353535;
  width: 100%;
}

footer nav {
  padding: 20px 15px;
}

footer nav a {
  display: flex;
}

footer nav a p,
footer nav a .fa-solid {
  color: #fff;
  font-size: 0.9rem;
  margin: 3px 3px;
  transition: color 0.3s ease-in-out;
}

footer nav a:hover p:not(.titre_footer),
footer nav a:hover .fa-solid {
  color: #99e2d0;
}

footer nav a .titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

/*============= Body ==============*/
main {
  /*============ En-Tête =========*/
  /*============ Fonctionnement =========*/
  /*============ Restaurants =========*/
}

main .entete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
}

main .entete h2 {
  margin: 30px 0px 15px 0px;
  font-size: 1.4rem;
  text-align: center;
}

main .entete p {
  font-size: 0.9rem;
  color: #4d4d4d;
  text-align: center;
  margin: 0 10px;
}

main .entete a {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-weight: 800;
  border-radius: 50px;
  padding: 15px 20px;
  z-index: 1;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
  transition: all 0.3s ease-in-out;
  margin: 50px 0px;
}

main .entete a:hover {
  background: linear-gradient(170deg, #ffb0e9 0%, #ad87db 100%);
  box-shadow: 0px 1px 6px rgba(70, 70, 70, 0.6);
}

main .fontionnement {
  margin: 20px;
}

main .fontionnement h2 {
  font-size: 1.4rem;
  margin: 30px 0;
}

main .fontionnement .small-containeur {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 15px;
  margin: 30px 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
}

main .fontionnement .small-containeur:hover {
  background-color: rgba(178, 86, 220, 0.2588235294);
  box-shadow: 0px 3px 12px 3px rgba(94, 46, 116, 0.2588235294);
}

main .fontionnement .small-containeur:hover .fa-solid {
  color: #9356dc;
}

main .fontionnement .small-containeur p {
  font-size: 0.9rem;
  font-weight: 800;
}

main .fontionnement .small-containeur .fa-solid {
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

main .fontionnement .small-containeur span {
  position: absolute;
  left: -10px;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #9356dc;
}

main .restaurants {
  padding: 20px 20px;
  background-color: #f3f3f3;
}

main .restaurants h2 {
  font-size: 1.4rem;
  margin: 30px 0;
}

main .restaurants .containeur-1 {
  position: relative;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 0.7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 200px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
}

main .restaurants .containeur-1:hover {
  box-shadow: 0px 1px 6px rgba(70, 70, 70, 0.6);
  transform: scale(1.01);
}

main .restaurants .containeur-1 a {
  position: relative;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 0.7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 200px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
}

main .restaurants .containeur-1 a:hover {
  box-shadow: 0px 1px 6px rgba(70, 70, 70, 0.6);
  transform: scale(1.01);
}

main .restaurants .containeur-1 img {
  grid-area: 1/1/2/4;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main .restaurants .containeur-1 .text {
  margin: 20px 15px;
  grid-area: 2/1/3/2;
}

main .restaurants .containeur-1 .text h3 {
  font-size: 0.9rem;
  font-weight: 800;
}

main .restaurants .containeur-1 .text p {
  font-size: 0.9rem;
  font-weight: 300;
}

main .restaurants .containeur-1 .like {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .restaurants .containeur-1 .like input {
  display: none;
}

main .restaurants .containeur-1 .like input:checked~.fa-solid {
  display: block;
  color: transparent;
  animation: like_anim 0.8s ease-in-out forwards;
}

main .restaurants .containeur-1 .like input:checked~.fa-regular {
  display: none;
}

main .restaurants .containeur-1 .like .fa-regular,
main .restaurants .containeur-1 .like .fa-solid {
  font-size: 1.7rem;
}

main .restaurants .containeur-1 .like .fa-solid {
  display: none;
}

main .restaurants .containeur-1 span {
  display: none;
}

main .restaurants .containeur-1 .new {
  display: block;
  position: absolute;
  font-size: 0.8rem;
  font-weight: 550;
  color: #139273;
  background-color: #99e2d0;
  padding: 4px 10px;
  top: 10px;
  right: 5px;
  border-radius: 2px;
}

main .restaurants .like {
  bottom: 10%;
  right: 5%;
}

/* ====================== Media Queries ====================*/
@media (767px < width) {

  /*============= Body ==============*/
  main {
    /*============ En-Tête =========*/
    /*============ Fonctionnement =========*/
    /*============ Restaurants =========*/
  }

  main .entete {
    height: 250px;
  }

  main .entete h2 {
    margin: 30px 0px 15px 0px;
    font-size: 1.4rem;
  }

  main .entete p {
    font-size: 0.9rem;
    text-align: center;
    color: #4d4d4d;
    margin: 0 10px;
  }

  main .entete a {
    background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    font-weight: 800;
    border-radius: 50px;
    padding: 15px 20px;
    z-index: 1;
    box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
    transition: all 0.3s ease-in-out;
    margin: 50px 0px;
  }

  main .entete a:hover {
    background: linear-gradient(170deg, #ffb0e9 0%, #ad87db 100%);
    box-shadow: 0px 1px 6px rgba(70, 70, 70, 0.6);
  }

  main .fontionnement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px;
  }

  main .fontionnement h2 {
    margin: 10px 0;
    width: 100%;
  }

  main .fontionnement .small-containeur {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e2e2e2;
    border-radius: 15px;
    margin: 30px 0;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
    width: 25%;
  }

  main .fontionnement .small-containeur:hover {
    background-color: rgba(178, 86, 220, 0.2588235294);
    box-shadow: 0px 3px 12px 3px rgba(94, 46, 116, 0.2588235294);
  }

  main .fontionnement .small-containeur:hover .fa-solid {
    color: #9356dc;
  }

  main .restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    padding: 20px 7.5%;
  }

  main .restaurants h2 {
    width: 100%;
    margin: 10px 0;
  }

  main .restaurants .containeur-1 {
    width: 300px;
  }

  main .restaurants .containeur-1 img {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */