@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");
.c_1 {
  transition-delay: 1s;
  opacity: 1;
}

.c_2 {
  transition-delay: 2s;
  opacity: 1;
}

.c_3 {
  transition-delay: 3s;
  opacity: 1;
}

.c_4 {
  transition-delay: 4s;
  opacity: 1;
}

.c_5 {
  transition-delay: 5s;
  opacity: 1;
}

.c_6 {
  transition-delay: 6s;
  opacity: 1;
}

.c_7 {
  transition-delay: 7s;
  opacity: 1;
}

.c_8 {
  transition-delay: 8s;
  opacity: 1;
}

.c_9 {
  transition-delay: 9s;
  opacity: 1;
}

/* ===== Animations ====*/
@keyframes like_anim {
  0% {
    background: linear-gradient(rgba(147, 86, 220, 0.0901960784), rgba(255, 121, 217, 0.0901960784));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  25% {
    background: linear-gradient(rgba(147, 86, 220, 0.2549019608), rgba(255, 121, 218, 0.2549019608));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(rgba(146, 86, 220, 0.5490196078), rgba(255, 121, 218, 0.5490196078));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  75% {
    background: linear-gradient(rgba(147, 86, 220, 0.7529411765), rgba(255, 121, 217, 0.7529411765));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(#9356dc, #ff79da);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5s;
  }
  100% {
    opacity: 1;
  }
}
@keyframes test {
  from {
    background: red;
  }
  to {
    background-color: blue;
  }
}
* {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  max-width: 1920px;
  min-width: 300px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0px 1px 5px rgba(74, 74, 74, 0.6);
}
header .logo h1 {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
}
header .logo h1:hover {
  transform: scale(1.05);
}
header .logo a {
  position: absolute;
  left: 20px;
}
header .logo .fa-solid {
  font-size: 1.1rem;
}
header .localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 0;
}
header .localisation .fa-solid {
  padding: 0 10px;
}
header .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2.5s;
}
header .loader span {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  animation: spin 2s;
}

footer {
  background: #353535;
  width: 100%;
}
footer nav {
  padding: 20px 15px;
}
footer nav a {
  display: flex;
}
footer nav a p,
footer nav a .fa-solid {
  color: #fff;
  font-size: 0.9rem;
  margin: 3px 3px;
  transition: color 0.3s ease-in-out;
}
footer nav a:hover p:not(.titre_footer), footer nav a:hover .fa-solid {
  color: #99e2d0;
}
footer nav a .titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

header .localisation {
  display: none;
}

.entete img {
  position: relative;
  width: 100%;
  z-index: -5;
}

main {
  padding: 30px 20px 0 20px;
  margin-top: -50px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f3f3f3;
  z-index: 1;
  overflow: hidden;
}
main .like {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .like input {
  display: none;
}
main .like input:checked ~ .fa-solid {
  display: block;
  animation: like_anim 0.5s;
  background: linear-gradient(#9356dc, #ff79da);
  color: transparent;
  background-size: 400%;
  -webkit-background-clip: text;
}
main .like input:checked ~ .fa-regular {
  display: none;
}
main .like .fa-regular,
main .like .fa-solid {
  font-size: 1.7rem;
}
main .like .fa-solid {
  display: none;
}
main .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .titre h2 {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
}
main h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  position: relative;
  margin: 10px 0;
}
main h3::before {
  position: absolute;
  content: "";
  background-color: #99e2d0;
  width: 45px;
  height: 3px;
  bottom: -5px;
}
main section label {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 15px;
  margin: 30px 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
  background-color: #fff;
  justify-content: space-between;
  opacity: 0;
}
main section label:hover {
  background-color: #f5edff;
  transform: scale(1.01);
}
main section label:hover .fa-solid {
  color: #9356dc;
}
main section label .check {
  position: absolute;
  right: -40px;
  background-color: rgb(154, 224, 195);
  width: 60px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  opacity: 0;
  transition: all 0.5s ease;
}
main section label .check .fa-solid {
  color: #fff;
  transition: all 1s ease;
}
main section label input {
  display: none;
}
main section label input:checked ~ .check {
  opacity: 1;
  right: 0;
}
main section label input:checked ~ .check .fa-solid {
  rotate: 360deg;
}

/*# sourceMappingURL=style_pages.css.map */
