@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");
/* ===== Animations ====*/
@keyframes like_anim {
  0% {
    background: linear-gradient(rgba(147, 86, 220, 0.0901960784), rgba(255, 121, 217, 0.0901960784));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  25% {
    background: linear-gradient(rgba(147, 86, 220, 0.2549019608), rgba(255, 121, 218, 0.2549019608));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(rgba(146, 86, 220, 0.5490196078), rgba(255, 121, 218, 0.5490196078));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  75% {
    background: linear-gradient(rgba(147, 86, 220, 0.7529411765), rgba(255, 121, 217, 0.7529411765));
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(#9356dc, #ff79da);
    color: transparent;
    background-size: 400%;
    -webkit-background-clip: text;
  }
}
.c_1 {
  animation: 0.4s normal apparition;
}

.c_2 {
  animation: 0.8s normal apparition;
}

.c_3 {
  animation: 1.2s normal apparition;
}

.c_4 {
  animation: 1.6s normal apparition;
}

.c_5 {
  animation: 2s normal apparition;
}

.c_6 {
  animation: 2.4s normal apparition;
}

.c_7 {
  animation: 2.8s normal apparition;
}

.c_8 {
  animation: 3.2s normal apparition;
}

.c_9 {
  animation: 3.6s normal apparition;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  max-width: 1920px;
  min-width: 300px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0px 1px 5px rgba(74, 74, 74, 0.6);
}
header .logo h1 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
}
header .logo h1:hover {
  transform: scale(1.05);
}
header .logo a {
  position: absolute;
  left: 20px;
}
header .logo .fa-solid {
  font-size: 1.1rem;
}
header .localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 0;
}
header .localisation .fa-solid {
  padding: 0 10px;
}
header .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2.5s;
}
header .loader span {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  animation: spin 2s;
}

footer {
  background: #353535;
  width: 100%;
}
footer nav {
  padding: 20px 15px;
}
footer nav a {
  display: flex;
}
footer nav a p,
footer nav a .fa-solid {
  color: #fff;
  font-size: 0.9rem;
  margin: 3px 3px;
  transition: color 0.3s ease-in-out;
}
footer nav a:hover p:not(.titre_footer), footer nav a:hover .fa-solid {
  color: #99e2d0;
}
footer nav a .titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

header .localisation {
  display: none;
}

.entete img {
  position: relative;
  width: 100%;
  z-index: -5;
}

main {
  padding: 30px 20px 10px 20px;
  margin-top: -50px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f3f3f3;
  z-index: 1;
}
main .like {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .like input {
  display: none;
}
main .like input:checked ~ .fa-solid {
  display: block;
  animation: like_anim 0.5s;
  background: linear-gradient(#9356dc, #ff79da);
  color: transparent;
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
}
main .like input:checked ~ .fa-regular {
  display: none;
}
main .like .fa-regular,
main .like .fa-solid {
  font-size: 1.7rem;
}
main .like .fa-solid {
  display: none;
}
main .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .titre h2 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
}
main h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  position: relative;
  margin: 20px 0;
}
main h3::before {
  position: absolute;
  content: "";
  background-color: #99e2d0;
  width: 45px;
  height: 3px;
  bottom: -6px;
}
main section label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px 20px 10px 10px;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
}
main section label .check {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -40px;
  width: 60px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: rgb(154, 224, 195);
  font-size: 1.4rem;
  opacity: 0;
  transition: all 0.5s ease;
}
main section label .check .fa-solid {
  color: #fff;
  transition: all 1s ease;
}
main section label input {
  display: none;
}
main section label input:checked ~ .check {
  opacity: 1;
  right: 0;
}
main section label input:checked ~ .check .fa-solid {
  rotate: 360deg;
}
main section label .text {
  width: 90%;
  height: 40px;
}
main section label .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main section label span {
  font-weight: 800;
}

/*# sourceMappingURL=style_pages.css.map */
