* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    width: 100%;
    background-color: #fafafa;
}

/*===================== Header ==================*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #fefefe;
    box-shadow: 1px 0 8px #bcbcbc;
    padding: 10px 20px;
}

header .title h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

header .title #icon_return {
    display: none;
    position: absolute;
    left: 10px;
    font-size: 22px;
}

/*===== Localisation ====*/

header .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #eee;
    z-index: -1;
}

header .localisation p,
header .localisation i {
    font-size: 18px;
}

header .localisation i {
    padding-right: 15px;
}

/*==================== Footer ==================*/

footer {
    width: 100%;
    background-color: #2C2C2C;
}

footer h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 10px 0;
}

footer nav ul li {
    padding: 5px 0;
}

footer nav ul li a {
    color: white;
}

footer nav ul li i {
    color: white;
    padding: 0 5px;
}

footer nav {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

/*==================== Media Queries ==================*/

@media screen and (max-width: 992px) {

    header .title {
        justify-content: center;
    }
}