@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&family=Shrikhand&display=swap");
header span::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.3137254902);
  z-index: 9;
  animation: disparition 2s linear forwards;
}
header span::after {
  content: "";
  position: fixed;
  top: 50%;
  z-index: 100;
  width: 68px;
  height: 68px;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: tourne 2s linear forwards;
}

/* ===== Animations ====*/
@keyframes like_anim {
  0% {
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(200deg, rgba(146, 86, 220, 0.1647058824) 34%, rgba(255, 121, 218, 0.1647058824) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(200deg, rgba(147, 86, 220, 0.3647058824) 34%, rgba(255, 121, 218, 0.3647058824) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(200deg, rgba(147, 86, 220, 0.6039215686) 34%, rgba(255, 121, 218, 0.6039215686) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(200deg, rgba(147, 86, 220, 0.7333333333) 34%, rgba(255, 121, 218, 0.7333333333) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(200deg, #9356dc 34%, #ff79da 100%);
    color: transparent;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
@keyframes tourne {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  90% {
    transform: rotate(720deg);
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.c_1 {
  animation: 0.5s normal apparition;
}

.c_2 {
  animation: 1s normal apparition;
}

.c_3 {
  animation: 1.5s normal apparition;
}

.c_4 {
  animation: 2s normal apparition;
}

.c_5 {
  animation: 2.5s normal apparition;
}

.c_6 {
  animation: 3s normal apparition;
}

.c_7 {
  animation: 3.5s normal apparition;
}

.c_8 {
  animation: 4s normal apparition;
}

.c_9 {
  animation: 4.5s normal apparition;
}

.c_10 {
  animation: 5s normal apparition;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
* {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  max-width: 1920px;
  min-width: 280px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0px 1px 5px rgba(74, 74, 74, 0.6);
}
header .logo h1 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
}
header .logo h1:hover {
  transform: scale(1.05);
}
header .logo a {
  position: absolute;
  left: 20px;
}
header .logo .fa-solid {
  font-size: 1.1rem;
}
header .localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 0;
}
header .localisation .fa-solid {
  padding: 0 10px;
}

footer {
  background: #353535;
  width: 100%;
}
footer nav {
  padding: 20px 15px;
}
footer nav a {
  display: flex;
}
footer nav a p,
footer nav a .fa-solid {
  color: #fff;
  font-size: 0.9rem;
  margin: 3px 3px;
  transition: color 0.3s ease-in-out;
}
footer nav a:hover p:not(.titre_footer), footer nav a:hover .fa-solid {
  color: #99e2d0;
}
footer nav a .titre_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

header .localisation {
  display: none;
}

.entete_1 {
  height: 220px;
  overflow: hidden;
}
.entete_1 img {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: 0 -80px;
  z-index: -5;
}

.v2 img {
  object-position: 0 -80px;
}

main {
  position: relative;
  padding: 30px 20px 10px 20px;
  margin-top: -50px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f3f3f3;
  overflow: hidden;
  z-index: 1;
}
main .like {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .like input {
  display: none;
}
main .like input:checked ~ .fa-solid {
  display: block;
  color: transparent;
  animation: like_anim 0.8s ease-in-out forwards;
}
main .like input:checked ~ .fa-regular {
  display: none;
}
main .like .fa-regular,
main .like .fa-solid {
  font-size: 1.7rem;
}
main .like .fa-solid {
  display: none;
}
main .like {
  right: 25px;
}
main .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .titre h2 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
}
main h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  position: relative;
  margin: 20px 0;
}
main h3::before {
  position: absolute;
  content: "";
  background-color: #99e2d0;
  width: 45px;
  height: 3px;
  bottom: -6px;
}
main section label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
}
main section label .check {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -40px;
  width: 50px;
  height: 60px;
  border-radius: 0 10px 10px 0;
  background-color: rgb(154, 224, 195);
  font-size: 1.1rem;
  opacity: 0;
  margin: 0;
  transition: all 0.5s ease;
}
main section label .check .fa-solid {
  color: #fff;
  transition: all 1s ease;
}
main section label input {
  display: none;
}
main section label input:checked ~ .check {
  position: relative;
  opacity: 1;
  right: 0;
}
main section label input:checked ~ .check .fa-solid {
  rotate: 360deg;
}
main section label .text {
  width: 65%;
  height: 40px;
  margin: 10px 10px;
}
main section label .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main section label span {
  font-weight: 800;
  margin: 10px 10px;
  transition: all 0.5s ease;
}

main .commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 80px 0;
}
main .commander button {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-weight: 800;
  border-radius: 50px;
  padding: 15px 20px;
  z-index: 1;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 8px rgba(180, 180, 180, 0.6);
  border: none;
  cursor: pointer;
  padding: 15px 50px;
}
main .commander button:hover {
  background: linear-gradient(170deg, #ffb0e9 0%, #ad87db 100%);
  box-shadow: 0px 1px 6px rgba(70, 70, 70, 0.6);
}
main .commander button p {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

/* ====================== Media Queries ====================*/
@media (767px < width) {
  .entete_1 {
    height: 500px;
  }
  .entete_1 img {
    object-position: 0 -300px;
  }
  .v2 {
    height: 500px;
  }
  .v2 img {
    object-position: 0 -60px;
  }
  main .titre {
    justify-content: flex-start;
  }
  main .titre label {
    margin-left: 20px;
  }
  main .menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
  }
  main .menu h3 {
    width: 32%;
  }
  main .menu section {
    width: 32%;
    height: 80%;
    margin: 0;
  }
  main .commander {
    margin: 20px;
  }
}

/*# sourceMappingURL=style_pages.css.map */
